<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="DurgaConnectionString" connectionString="Data Source=KAMAKHYA-PC\sqlexpress;Initial Catalog=Durga;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
