
#topnav{
	position:relative;
	margin:0 auto;
	display:block;
	width:960px;
	font-size:12px;
	z-index:1000;
	}
#topnav ul, #topnav li{
	margin:0;
	padding:0;
	list-style:none;
	}



#topnav li{
	float:left;
	margin-right:30px;
	}


#topnav li a:link, #topnav li a:visited, #topnav li a:hover{
	display:block;
	margin:0;
	padding:15px 0;
	color:#F8F9F3;
	background-color:#072C53;
	text-transform:uppercase;
	}

#topnav li a:hover, #topnav li.active a{
	color:#5F8EC2;
	background:url("../images/topnav_a.gif") top center no-repeat #072C53;
	}








#topnav ul ul{
	z-index:9999;
	position:absolute;
	left:-999em;
	height:auto;
	width:150px;
	border-left:1px solid #2B4D71;
	border-bottom:1px solid #2B4D71;
	}
#topnav ul ul a{
	width:140px;
	}


#topnav li:hover ul{
	left:auto;
	}










