<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="DurgaConnectionString" connectionString="Data Source=184.168.47.13;Initial Catalog=sidharthgambhir_;User ID=Durgagraphic;Password=durga@123"
   providerName="System.Data.SqlClient" />
  </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
   <httpRuntime executionTimeout="240" maxRequestLength="20480" />

 </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  

</configuration>
